@page
@model CASPAR.Pages.Instructors.UpsertModel
@{
}

<form method="post" asp-page="Upsert" onsubmit="return ValidateInput()" enctype="multipart/form-data">
    <input asp-for="objInstructorWishlist.InstructorWishlistId" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.objInstructorWishlist.InstructorWishlistId != 0 ? "Update " : "Create ")Wishlist</h2>
                    <hr />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objInstructorWishlistDetails.Course"></label>
                    <select id="ddlCourse" asp-for="objInstructorWishlistDetails.CourseId" asp-items="@Model.CourseList" class="form-select">
                        <option disabled selected>--Select Course--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objInstructorWishlistModality.Modality.ModalityId"></label>
                    <select id="ddlFormat" asp-for="objInstructorWishlistModality.Modality.ModalityName" asp-items="@Model.FormatList" class="form-select">
                        <option disabled selected>--Select Format--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objInstructorTime.DayBlock.DaysBlockId"></label>
                    <select id="ddlDayBlock" asp-for="objInstructorTime.DayBlock.DayName" asp-items="@Model.DayList" class="form-select">
                        <option disabled selected>--Select Day--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objInstructorTime.MeetingTime.meetingTimeId"></label>
                    <select id="ddlMeetingTime" asp-for="objInstructorTime.MeetingTime" asp-items="@Model.TimeList" class="form-select">
                        <option disabled selected>--Select Time--</option>
                    </select>
                </div>
                
                <div class="mb-3 col-6">
                    <label asp-for="objInstructorWishlist.Semester"></label>
                    <select id="ddlSemester" asp-for="objInstructorWishlist.SemesterId" asp-items="@Model.SemesterList" class="form-select">
                        <option disabled selected>--Select Semester--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objInstructorTime.Campus"></label>
                    <select id="ddlCampus" asp-for="objInstructorTime.Campus" asp-items="@Model.CampusList" class="form-select">
                        <option disabled selected>--Select Campus--</option>
                    </select>
                </div>
                <div class="col-12">
                    @if (Model.objInstructorWishlist.InstructorWishlistId != 0)
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <!--END ELSE -->
                    <a asp-page="/Instructors/Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: "file edit format"
        });

        function ValidateInput() 
        {
            if ($('#ddlCourse option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Course', 'error')
                return false
            }

            if ($('#ddlFormat option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Format', 'error')
                return false
            }

            if ($('#ddlCampus option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Campus', 'error')
                return false
            }

            if ($('#ddlTimeBlock option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Time', 'error')
                return false
            }
            if ($('#ddlSemester option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Semester', 'error')
                return false
            }

            return true;
        }
    </script>
}
