@page
@model CASPAR.Pages.Students.StudentWishlishtHomeModel

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Student Wishlists
            </h2>
            <div class="mb-3 col-6">
                <label asp-for="objStudentWishlist.Semester"></label>
                <select id="ddlSemester" asp-for="objStudentWishlist.SemesterId" asp-items="@Model.SemesterList" class="form-select">
                    <option disabled selected>--Select Semester--</option>
                </select>
            </div>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Upsert" asp-route-id="0" asp-route-wishlist="@Model.objStudentWishlist.StudentWishlistId" class="btn btn-primary" style="float:right">
                <i  class="bi bi-plus-circle"></i> Create New Wishlist
            </a>
        </div>
    </div>

    <table class="table table-borded table-hover" style="width: 100%">
        <thead>
            <tr>
                <th>
                    Course
                </th>
                <th>
                    Modality
                </th>
                <th>
                    Time of Day
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wishlist in Model.objStudentWishlistVMs)
            {
                <tr>
                    <td style="width:25%"> @wishlist.objStudentWishlistDetails.Course.CoursePrefix @wishlist.objStudentWishlistDetails.Course.CourseNumber
                        @wishlist.objStudentWishlistDetails.Course?.CourseName </td>
                    <td style="width:25%">
                    @foreach (var modality in wishlist.objStudentWishlistModalities)
                    {
                        <p>@modality.Modality.ModalityName </p>
                    }
                    </td>
                    <td style="width:25%">
                    @foreach (var time in wishlist.objStudentTimes)
                    {
                        <p> @time.TimeBlock.TimeName </p>
                    }
                    </td>
                    <td style="width:25%">
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="Upsert" asp-route-id="" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-page="Delete" asp-route-id="" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        var divsToHide = document.getElementsByClassName("classname"); //divsToHide is an array
        for (var i = 0; i < divsToHide.length; i++) 
        {
            divsToHide[i].style.visibility = "hidden"; // or
            divsToHide[i].style.display = "none"; // depending on what you're doing
        }
    </script>
}