@page
@model CASPAR.Pages.Students.UpsertModel

@{
    
}
<div class="container" style="max-width: 1100px;">
<form method="post" asp-page="Upsert" onsubmit="return ValidateInput()" enctype="multipart/form-data" onload="">
    <input asp-for="objStudentWishlist.StudentWishlistId" hidden />
    <input asp-for="objStudentWishlistDetails.StudentWishlistDetailsId" hidden />
    <input asp-for="objStudentWishlistDetails.StudentWishlistId" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.objStudentWishlistDetails.StudentWishlistDetailsId != 0 ? "Update " : "Create ") Wishlist</h2>
                    <hr />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objStudentWishlistDetails.Course"></label>
                    <select id="ddlCourse" asp-for="objStudentWishlistDetails.CourseId" asp-items="@Model.CourseList" class="form-select">
                        <option disabled selected>--Select Course--</option>
                    </select>
                </div>

                <hr />
                <div class="mb-3 col-md-12">
                    <div class="container">
                        @for (var i = 0; i < Model.modalityCheck.Count; i++)
                        {
                            <div class="row">
                                @for (var k = 0; k < 4; k++)
                                {
                                    @if (i < Model.modalityCheck.Count)
                                    {
                                        <div class="col-md-3">
                                            <input type="checkbox" asp-for="@Model.modalityCheck[i].Checked" onclick="testing(@Model.modalityCheck[i].Value, '@Model.modalityCheck[i].Text')" id="@Model.modalityCheck[i].Value" />
                                            <label asp-for="@Model.modalityCheck[i].Checked">@Model.modalityCheck[i].Text</label>
                                            <input type="hidden" asp-for="@Model.modalityCheck[i].Value" />
                                            <input type="hidden" asp-for="@Model.modalityCheck[i].Text" />
                                            <input type="hidden" asp-for="@Model.modalityCheck[i].Disabled" />
                                        </div>
                                    }
                                    if(k != 3)
                                    {
                                       i++;
                                    }
                                        
                                }
                            </div>
                        }
                    </div>
                </div>
                 
                @{var j = 0;
                        var infoCount = 0;
                        foreach (var item in Model.modalityCheck)
                        {
                            if (item.AdditionalInfo == true)
                            {
                                infoCount++;
                            }
                        }
                        infoCount--;
                    }
                @for (var i = 0; i < Model.modalityCheck.Count; i++)
                { 
                    if (Model.modalityCheck[i].AdditionalInfo == true)
                    {

                        <div id="@Model.modalityCheck[i].Text" style="display: @(Model.modalityCheck[i].Checked == true ? "inline " : "none ");" class="mb-3 col-12">
                            <h5>@Model.modalityCheck[i].Text</h5>
                            <button type="button" onclick="AddAnotherItem('@Model.modalityCheck[i].Text')">Add Another Time</button>

                            @if(Model.objStudentTime[j].StudentTimeId == 0){
                                <div class="count">
                                
                                    <br>
                                    <label asp-for="objStudentTime[j].TimeBlock">Time</label>
                                    <select id="ddlblock @j" asp-for="objStudentTime[j].TimeBlockId" asp-items="@Model.TimeList" class="form-select">
                                        <option disabled selected>--Select Time--</option>
                                    </select>
                            
                                    <label asp-for="objStudentTime[j].Campus">Campus</label>
                                    <select id="ddlCampus @j" asp-for="objStudentTime[j].CampusId" asp-items="@Model.CampusList" class="form-select">
                                        <option disabled selected>--Select Campus--</option>
                                    </select>

                                    <i class="bi bi-trash" id="@j" onclick="removeDiv(this)" style="display:none"></i>

                                    <input type="hidden" asp-for="objStudentTime[j].StudentWishlistModalityId" value="@Model.modalityCheck[i].Value"/>
                                    
                                </div>
                            }
                            else{
                                @for(int k = 0; k < Model.objStudentTime.Count; k++)
                                {
                                    if(Model.objStudentTime[k].StudentWishlistModalityId == Model.modalityCheck[i].Value)
                                    {
                                        <div class="count" id="input @k">

                                            <br>
                                            <label asp-for="objStudentTime[k].TimeBlock">Time</label>
                                            <select id="ddlblock @k" asp-for="objStudentTime[k].TimeBlockId" asp-items="@Model.TimeList" class="form-select">
                                                <option disabled selected>--Select Time--</option>
                                            </select>

                                            <label asp-for="objStudentTime[k].Campus">Campus</label>
                                            <select id="ddlCampus @k" asp-for="objStudentTime[k].CampusId" asp-items="@Model.CampusList" class="form-select">
                                                <option disabled selected>--Select Campus--</option>
                                            </select>
                                            @if (k > infoCount)
                                            {
                                                <i class="bi bi-trash" id="@k" onclick="removeDiv(this)" style="display:inline"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-trash" id="@k" onclick="removeDiv(this)" style="display:none"></i>
                                            }

                                            <input type="hidden" asp-for="objStudentTime[k].StudentWishlistModalityId" value="@Model.modalityCheck[i].Value" />
                                            <input type="hidden" asp-for="objStudentTime[k].StudentTimeId" />
                                        </div>
                                    }
                                }
                            }
                        </div>
                        j++;
                    }
                }

                <div class="mb-3">
					<label asp-for="objStudentWishlistDetails.StudentNotes"></label>
                    <textarea asp-for="objStudentWishlistDetails.StudentNotes" id="txtDesc" rows="3" class="form-control"></textarea>
				</div>

                <div class="col-12">
                    @if (Model.objStudentWishlistDetails.StudentWishlistDetailsId != 0)
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <!--END ELSE -->
                        <a asp-page="/Students/StudentWishlistHome" asp-route-semesterId="@Model.objStudentWishlist.SemesterId"  class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
@section Scripts
{
    <script>
      
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: "file edit format"
        });

        function testing(value, text){
            var checkBox = document.getElementById(value)
            var text = document.getElementById(text)
            if (text != null) 
            {
                if (checkBox.checked) {
                    text.style.display = "inline";
                }
                else {
                    text.style.display = "none";
                }
            }
        }

        function AddAnotherItem(text){
            //Gets current count of items available
            var count = document.getElementsByClassName('count').length
            //Getting correct Modality
            var textBox = document.getElementById(text)
            //Getting drop down value node
            var child = textBox.childNodes[5]
            //Cloning the node to use for future node
            const node = child.cloneNode(true)
            //Setting up the correct values for the new node
            node.id = 'input ' + count;
            var childVal = child.innerHTML
            document.getElementById(text).appendChild(node)
            var newParent = document.getElementById('input ' + count)
            var newChild = newParent.childNodes[3]
            newChild.setAttribute("for", "objStudentTime_" + count + "__TimeBlock")
            newChild = newParent.childNodes[5]
            newChild.setAttribute("id", "ddlblock " + count)
            newChild.setAttribute("name", "objStudentTime[" + count + "].TimeBlockId")
            newChild = newParent.childNodes[7]
            newChild.setAttribute("for", "objStudentTime_" + count + "__Campus")
            newChild = newParent.childNodes[9]
            newChild.setAttribute("id", "ddlCampus " + count)
            newChild.setAttribute("name", "objStudentTime[" + count + "].CampusId")
            newChild = newParent.childNodes[13]
            newChild.setAttribute("id", "objStudentTime_" + count + "__StudentWishlistModalityId")
            newChild.setAttribute("name", "objStudentTime[" + count + "].StudentWishlistModalityId")
            newChild = newParent.childNodes[11]
            newChild.setAttribute("id", count)
            newChild.setAttribute("style", "display:inline")
            //var card = document.getElementById("ddlCampus " + 0).parentElement.parentElement
            //console.log(card)
            //console.log(document.getElementsByClassName('count').length)
        }

        function removeDiv(value) {
            var toRemove = document.getElementById("input " + value.id)
            toRemove.childNodes[13].setAttribute("value", "-1")
            toRemove.setAttribute("style", "display: none")
        }

        function ValidateInput() 
        {

            if ($('#ddlCourse option:selected').val() == '--Select Course--') {
                swal.fire('Error', 'Please Select a Course', 'error')
                return false
            }

            for (let i = 0; i < document.getElementsByClassName('count').length; i++) {
                var card = document.getElementById("ddlblock " + i)
                if (card.parentElement.parentElement.style.display == 'inline' && card.parentElement.style.display != 'none') {
                    if (card.options[card.selectedIndex].value == '--Select Time--') {
                        swal.fire('Error', 'Please Select a Time', 'error')
                        return false
                    }
                }
            }

            for (let i = 0; i < document.getElementsByClassName('count').length; i++){
                var card = document.getElementById("ddlCampus " + i)
                if (card.parentElement.parentElement.style.display == 'inline' && card.parentElement.style.display != 'none') {
                    if (card.options[card.selectedIndex].value == '--Select Campus--') {
                        swal.fire('Error', 'Please Select a Campus', 'error')
                        return false
                    }
                }
            }

            return true;
        }
    </script>
}
