@page
@model CASPAR.Pages.Students.UpsertModel

@{
}
<form method="post" asp-page="Upsert" onsubmit="return ValidateInput()" enctype="multipart/form-data">
    <input asp-for="objStudentWishlist.StudentWishlistId" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.objStudentWishlist.StudentWishlistId != 0 ? "Update " : "Create ")Wishlist</h2>
                    <hr />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objStudentWishlistDetails.Course"></label>
                    <select id="ddlCourse" asp-for="objStudentWishlistDetails.CourseId" asp-items="@Model.CourseList" class="form-select">
                        <option disabled selected>--Select Course--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objStudentWishlistModality.Modality.ModalityId"></label>
                    <select id="ddlFormat" asp-for="objStudentWishlistModality.ModalityId" asp-items="@Model.FormatList" class="form-select">
                        <option disabled selected>--Select Format--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objStudentTime.TimeBlock.TimeBlockId"></label>
                    <select id="ddlDayBlock" asp-for="objStudentTime.TimeBlock.TimeName" asp-items="@Model.TimeList" class="form-select">
                        <option disabled selected>--Select Time--</option>
                    </select>
                </div>
                
                <div class="mb-3 col-6">
                    <label asp-for="objStudentWishlist.Semester"></label>
                    <select id="ddlSemester" asp-for="objStudentWishlist.SemesterId" asp-items="@Model.SemesterList" class="form-select">
                        <option disabled selected>--Select Semester--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objStudentTime.Campus"></label>
                    <select id="ddlCampus" asp-for="objStudentTime.CampusId" asp-items="@Model.CampusList" class="form-select">
                        <option disabled selected>--Select Campus--</option>
                    </select>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="objStudentWishlist.StudentId"></label>
                    <select id="ddlInstructor" asp-for="objStudentWishlist.StudentId" asp-items="@Model.StudentList" class="form-select">
                        <option disabled selected>--Select Student--</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="objStudentWishlistDetails.StudentNotes"></label>
                    <textarea asp-for="objStudentWishlistDetails.StudentNotes" id="txtDesc" rows="3" class="form-control"></textarea>
                </div>
                <div class="col-12">
                    @if (Model.objStudentWishlist.StudentWishlistId != 0)
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <!--END ELSE -->
                    <a asp-page="/Students/Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: "file edit format"
        });

        function ValidateInput() 
        {
            if ($('#ddlCourse option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Course', 'error')
                return false
            }

            if ($('#ddlFormat option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Format', 'error')
                return false
            }

            if ($('#ddlCampus option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Campus', 'error')
                return false
            }

            if ($('#ddlTimeBlock option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Time', 'error')
                return false
            }
            if ($('#ddlSemester option:selected').val() == 0) {
                swal.fire('Error', 'Please Select a Semester', 'error')
                return false
            }

            return true;
        }
    </script>
}
