@page
@model CASPAR.Pages.Admins.ManageReleaseTime.IndexModel
@{
}



<table>
	<thead>
		<tr>
			<th>
				Instructor
			</th>
			@foreach (var semesterType in Model.objSemesterType)
			{
				<th>@semesterType.SemesterName</th>
				<th>&nbsp;</th>
			}
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				&nbsp;
			</td>
			@foreach (var semesterType in Model.objSemesterType)
			{
				<td>
					Amt.
				</td>
				<td>
					Notes
				</td>
			}
			<td>
				&nbsp;
			</td>
		</tr>

		@foreach (var instructor in Model.objInstructorList)
		{
			<tr>
				<td style="width:25%">
					@instructor.FirstName @instructor.LastName
				</td>
			@foreach (var semesterType in Model.objSemesterType)
			{
				@foreach (var release in Model.objInstructorRelease.Where(c => (c.ApplicationUserId == instructor.Id && c.SemesterTypeId == semesterType.SemesterTypeId)))
				{
					<td style="width:5%">
						@release.ReleaseTimeAmount
					</td>
					<td style="width:20%">
						@release.ReleaseTimeName
					</td>
				}
			}
				<td style="width:10%">
					<div class="w-75 btn-group" role="group">
						<a asp-page="Upsert" asp-route-id="@instructor.Id" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i> Edit
						</a>
					</div>
				</td>
			</tr>
		}
	</tbody>

</table>