@page
@model CASPAR.Pages.Admins.InstructorReleaseTimes.InstructorReleaseTimeModel
@{
}
@* <input asp-for="objReleaseList.InstructorReleaseId" hidden /> *@
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Instructor Release Time
            </h2>
            <form method="post">
                <div class="mb-3 col-6">
                    <label asp-for="objSemester"></label>
                    <select id="ddlSemester" asp-for="SemesterId" asp-items="@Model.SemesterList" class="form-select">
                        <option disabled selected value="0">--Select Semester--</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" style="width:150px" onchange="">Change Semester</button>
            </form>
        </div>
        <div class="col-6 text-end">
            <a asp-page="IRTUpsert" asp-route-id="0" asp-route-wishlist="@Model.UserId" class="btn btn-primary" style="float:right">
                <i class="bi bi-plus-circle"></i> New Instructor Release Time
            </a>
        </div>
    </div>
    <table class="table table-bordered table-hover" id="DT_ReleaseTime" style="width:100%">
        <thead>

            <tr>
                <th>Instructor</th>
                <th>Release Time Name</th>
                <th>Release Time Amount</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var release in Model.objReleaseList)
            {
                <tr>
                    <td>@release.ApplicationUser.UserName</td>
                    @*<td>@release.ReleaseTimeName</td>
                    <td>@release.ReleaseTimeAmount</td>*@
                    <td>&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>
</div>




